<div class="mat-elevation-z8" (swipe)="swipe($event.type)">
  <!-- <mat-toolbar> -->
    <mat-paginator #paginators
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="1000"
        [pageSizeOptions]="[25, 50, 100, 250, 1000]">
    </mat-paginator>
  <!-- </mat-toolbar> -->
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements" >
    <ng-container matColumnDef="pacno">
      <th mat-header-cell *matHeaderCellDef>PackingNo</th>
      <td mat-cell *matCellDef="let row;let i = index" [attr.rowspan]="row.rowsp" [style.display]="row.rowsp === 0 ? 'none'  : ''">
        <button mat-raised-button focusable="false" (click)="checkPac(i+(paginator.pageIndex * paginator.pageSize))">
          {{row.pacno}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="gcode">
      <th mat-header-cell *matHeaderCellDef>商品</th>
      <td mat-cell *matCellDef="let row">{{row.gcode}}</td>
    </ng-container>
    <ng-container matColumnDef="quant">
      <th mat-header-cell *matHeaderCellDef>数量</th>
      <td mat-cell *matCellDef="let row">{{row.quant}}</td>
    </ng-container>
    <ng-container matColumnDef="realg">
      <th mat-header-cell *matHeaderCellDef>入荷商品</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="row.realg" (keyup.enter)="onEnter()" (blur)="updateList(row,'realg','gcode')">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="realq">
      <th mat-header-cell *matHeaderCellDef>入荷数量</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput numberInput [(ngModel)]="row.realq" (keyup.enter)="onEnter()" (blur)="updateList(row,'realq','quant')">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef>確認</th>
      <td mat-cell *matCellDef="let row">{{row.result}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngStyle]="{'background-color': setBgcolor(row.result)}"></tr>
  </table>
</div>