<div class="mat-elevation-z8" (swipe)="swipe($event.type)">
  <mat-toolbar>
    <div [hidden]="dataSource.filteredData.length != this.packservice.chktbl.length">
      <mat-form-field style="width:3em;">
        <input type="tel" matInput numberInput [(ngModel)]="ctnno" (keyup.enter)="goCtn(ctnno)" (blur)="goCtn(ctnno)">
      </mat-form-field>
      <button type="button" mat-raised-button color="warn" (click)="goCtn(ctnno)" style="min-width:20px">Go</button>
    </div>
    <mat-form-field style="width:6em;">
      <mat-label>品番Filter</mat-label>
        <input type="url" [(ngModel)]="gcdfi" matInput (keyup)="applyFilter($event.target.value,'gcode')" placeholder="品番">
    </mat-form-field>
    <mat-form-field style="width:3em;">
      <mat-label>結果Filter</mat-label>
        <input type="url" [(ngModel)]="resfi"  matInput (keyup)="applyFilter($event.target.value,'result')" placeholder="結果">
    </mat-form-field>
    <mat-paginator #paginators
        itemsPerPageLabel="単位"
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100, 250, 1000]">
    </mat-paginator>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements" >
    <ng-container matColumnDef="pacno">
      <th mat-header-cell *matHeaderCellDef>PackingNo</th>
      <!-- <td mat-cell *matCellDef="let row;let i = index" [attr.rowspan]="row.rowsp" [style.display]="row.rowsp === 0 ? 'none'  : ''"> -->
      <td mat-cell *matCellDef="let row;let i = index">
        <!-- <button mat-raised-button focusable="false" (click)="checkPac(i + this.paginator.pageSize * this.paginator.pageIndex)"> -->
        <button mat-raised-button focusable="false" (click)="checkPac(row.rowid)">
          {{row.pacno}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="gcode">
      <th mat-header-cell *matHeaderCellDef>品番</th>
      <td mat-cell *matCellDef="let row">{{row.gcode}}</td>
    </ng-container>
    <ng-container matColumnDef="quant">
      <th mat-header-cell *matHeaderCellDef>数量</th>
      <td mat-cell *matCellDef="let row">{{row.quant}}</td>
    </ng-container>
    <ng-container matColumnDef="realg">
      <th mat-header-cell *matHeaderCellDef>入荷商品</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="row.realg" (keyup.enter)="onEnter()" (blur)="updateList(row,'realg','gcode')">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="realq">
      <th mat-header-cell *matHeaderCellDef>入荷数量</th>
      <td mat-cell *matCellDef="let row">
        <mat-form-field>
          <input matInput numberInput [(ngModel)]="row.realq" (keyup.enter)="onEnter()" (blur)="updateList(row,'realq','quant')">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef>確認</th>
      <td mat-cell *matCellDef="let row">{{row.result}}</td>
    </ng-container>
    <div><tr mat-header-row *matHeaderRowDef="displayedColumns"></tr></div>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngStyle]="{'background-color': setBgcolor(row.result)}"></tr>
  </table>
</div>