::ng-deep.mat-form-field-disabled .mat-form-field-underline { display: none; }
mat-toolbar {
    position: fixed;
    top: 0; /* Sets the sticky toolbar to be on top */
    padding-top:10px;
    z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}
mat-toolbar .mat-form-field {
    font-size: 10px;
    width: 6em;
    text-align: right;
}

mat-toolbar .mat-input-element{
    color:black;
    font-weight: bold;
}