::ng-deep.mat-form-field-disabled .mat-form-field-underline { display: none; }

mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}
// mat-card {
//     // position: sticky;
//     // position: -webkit-sticky; /* For macOS/iOS Safari */
//     // top: 0; /* Sets the sticky toolbar to be on top */
//     z-index: 20000; /* Ensure that your app's content doesn't overlap the toolbar */
// }