<mat-card>
  <mat-card-subtitle>
    <mat-toolbar>
      <mat-card-actions>
        <!-- <button type="button" mat-flat-button (click)="read_Data(headid)" color="accent">入荷データ読込</button> -->
        <button type="button" mat-raised-button routerLink="/tab02" color="warn">チェック画面へ</button>
        <button type="button" mat-flat-button (click)="get_Header()">入荷一覧再読込</button>
      </mat-card-actions>
    </mat-toolbar>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-select [placeholder]="placehold" [(value)]="headid" (selectionChange)="selChange($event)">
      <ng-container *ngFor="let hd of headerservice.getHeader()">
        <mat-option value="{{ hd.headid }}">{{ hd.indate }} {{ hd.venname }} {{ hd.cnt }}カートン {{ hd.status }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-card-content>
</mat-card>
<ng-container *ngIf="headid">
  <mat-card>
    <mat-card-subtitle>
      <mat-toolbar>読込データ</mat-toolbar>
    </mat-card-subtitle>
    <form fxLayout="row wrap" fxLayoutGap="20px">
      <mat-form-field>
        <input matInput placeholder="入荷日" [(value)]="headerservice.header.indate" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="仕入先名称" [(value)]="headerservice.header.venname" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="カートン数" [value]="headerservice.header.cnt" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="データ作成日時" [value]="headerservice.header.created_at | date:'yy/MM/dd HH:mm'" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="読込時ステータス" [value]="headerservice.header.status" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="headid" [value]="headid" disabled>
      </mat-form-field>
    </form>
  </mat-card>
</ng-container>